<template name="adminLayoutDefault">
  <div class="adminLayoutDefault layout">
    <nav id="sidebar" class="bg-white">
      <div class="text-center py-5">
        <a href="/" data-cy="brd-test-logo">
          <img src="/assets/images/logo.svg" class="brd-admin-logo">
        </a>
      </div>

      <ul class="list-group px-3">
        <a data-cy="brd-test-dashboard" href="/admin/dashboard" class="list-group-item border-0 my-1 rounded-3 fw-bold {{#if isActive 'dashboard'}}text-white bg-primary{{else}}text-black-50{{/if}}"><i class="far fa-chart-line fa-fw me-2"></i> {{_ 'admin.layout.default' 'adminDashboard'}}</a>
        <a data-cy="brd-test-leads" href="/admin/leads" class="list-group-item border-0 my-1 rounded-3 fw-bold {{#if isActive 'leads'}}text-white bg-primary{{else}}text-black-50{{/if}}"><i class="far fa-list-ul fa-fw me-2"></i> {{_ 'admin.layout.default' 'leads'}}</a>
        <a data-cy="brd-test-applications" href="/admin/applications" class="list-group-item border-0 my-1 rounded-3 fw-bold {{#if isActive 'applications'}}text-white bg-primary{{else}}text-black-50{{/if}}"><i class="far fa-browser fa-fw me-2"></i> {{_ 'admin.layout.default' 'applications'}}</a>
        <a data-cy="brd-test-credit-accounts" href="/admin/credit-accounts" class="list-group-item border-0 my-1 rounded-3 fw-bold {{#if isActive 'credit-accounts'}}text-white bg-primary{{else}}text-black-50{{/if}}"><i class="far fa-award fa-fw me-2"></i> {{_ 'admin.layout.default' 'creditAccounts'}}</a>
        <a data-cy="brd-test-withdraws" href="/admin/withdraws?brd--status=pending" class="list-group-item border-0 my-1 rounded-3 fw-bold {{#if isActive 'withdraws'}}text-white bg-primary{{else}}text-black-50{{/if}}"><i class="far fa-money-check-edit-alt fa-fw me-2"></i> {{_ 'admin.layout.default' 'withdraws'}}</a>
        <a data-cy="brd-test-customers-in-default" href="/admin/customers-in-default" class="list-group-item border-0 my-1 rounded-3 fw-bold {{#if isActive 'customers-in-default'}}text-white bg-primary {{else}}text-black-50{{/if}}"><i class="far fa-file fa-fw me-2"></i>{{_ 'admin.layout.default' 'customersInDefault'}}</a>
        <a data-cy="brd-test-application-logs" href="/admin/application-logs" class="list-group-item border-0 my-1 rounded-3 fw-bold {{#if isActive 'application-logs'}}text-white bg-primary {{else}}text-black-50{{/if}}"><i class="far fa-clipboard-list fa-fw me-2"></i>{{_ 'admin.layout.default' 'applicationsLogs'}}</a>
        <a data-cy="brd-test-users" href="/admin/users" class="list-group-item border-0 my-1 rounded-3 fw-bold {{#if isActive 'users'}}text-white bg-primary{{else}}text-black-50{{/if}}"><i class="far fa-list-ul fa-fw me-2"></i> {{_ 'admin.layout.default' 'users'}}</a>

        <a data-cy="brd-test-log-out" href="#" class="list-group-item border-0 my-1 rounded-3 fw-bold text-black-50 brd-log-out"><i class="far fa-sign-out fa-fw me-2"></i> {{_ 'admin.layout.default' 'logoutOfAdmin'}}</a>

      </ul>

    </nav>

    <!-- Page Content  -->
    <div id="content">
      <div class="pageReactive">
        {{> Template.dynamic template=page}}
      </div>
    </div>
  </div>
  {{> Loading}}
</template>