<template name="componentNavbar">
  <nav id="brdNavbar" class="componentNavbar navbar navbar-light fixed-top navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand py-4 brd-logo" href="#" data-cy="brd-test-navbar-logo">
        <img src="/assets/images/logo.svg" style="height: 40px;" class="d-inline-block align-top" alt="">
      </a>

      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#brdComponentNavbarMenu" aria-controls="brdComponentNavbarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="brdComponentNavbarMenu">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center gap-3">
          <li class="nav-item">
            <a class="nav-link brd-link-menu-1" href="#" data-cy="brd-test-link-menu-1">{{_ 'landing.components.navbar' 'menu1'}}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link brd-link-menu-2" href="#" data-cy="brd-test-link-menu-2">{{_ 'landing.components.navbar' 'menu2'}}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link brd-link-menu-3" href="#" data-cy="brd-test-link-menu-3">{{_ 'landing.components.navbar' 'menu3'}}</a>
          </li>

          {{#if isInRole 'roles.admin'}}
            <li class="nav-item">
              <a href="{{pathFor 'admin.dashboard'}}" class="btn btn-primary fw-bolder rounded-pill px-4" data-cy="brd-test-admin" style="min-width: 114px;">{{_ 'landing.components.navbar' 'admin'}}</a>
            </li>
          {{else}}

            {{#if eq currentUser.profile.status 'customer'}}
              <li class="nav-item">
                <a href="{{pathFor 'customer.home'}}" class="btn btn-primary fw-bolder rounded-pill px-4" data-cy="brd-test-customer">{{_ 'landing.components.navbar' 'myAccount'}} </a>
              </li>
            {{else}}
              <li class="nav-item">
                <a href="{{pathFor 'onboarding.home'}}" class="btn btn-primary fw-bolder rounded-pill px-4" data-cy="brd-test-boarding">{{_ 'landing.components.navbar' 'onboarding'}}</a>
              </li>
            {{/if}}
          {{/if}}

          {{#if currentUser}}
            <li class="nav-item">
              <a class="btn btn-outline-primary fw-bolder rounded-pill my-1 brd-signout" style="min-width: 114px;" data-cy="brd-test-signout" href="#">{{_ 'landing.components.navbar' 'signout'}}</a>
            </li>

            {{#unless isInRole 'roles.admin'}}
              <li class="nav-item my-auto">
                <a href="{{pathFor 'customer.home'}}" class="text-primary" data-cy="brd-test-home" ><img src="/assets/images/user.svg" class="img-fluid"></a>
              </li>
            {{/unless}}
          {{else}}
            <li class="nav-item">
              <a class="btn btn-outline-primary fw-bolder rounded-pill px-4" data-cy="brd-test-signIn" style="min-width: 114px;" href="{{pathFor 'auth.signIn'}}">{{_ 'landing.components.navbar' 'signin'}}</a>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
</template>